---
layout: page
---
<div id="tags">
  <section class="bg"></section>
  <h1 class="title">{{ page.title }}</h1>

  <ul class="tag-cloud">
    {% for tag in site.tags %}
    <a href="#{{ tag | first | slugize }}">
      <!-- clicking will bring viewer to the FIRST post under this tag -->
      <!-- bgcolor transparency is proportional to the number of posts under this tag -->
      <li class="tag"
        style="background-color: rgba(86,61,124, {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 50 | divided_by: 100.0}})">
        {{ tag | first }}
        <span class="meta">{{ tag | last | size }}</span>
      </li>
    </a>
    {% endfor %}
  </ul>

  <!-- Each tag and its group of posts -->
  <div class="tag-groups">    
    {% for tag in site.tags %}
    <div class="tag-group">
      {% capture group %}{{ tag | first }}{% endcapture %}
      <h4 id="{{ group }}" class="title">{{ group }}</h4>
      <div class="items">
        {% for post in site.tags[group] %}
        <a href="{{ post.url | relative_url }}" class="post-link">
          <div class="item">
            <p class="meta">{{ post.date  | date: "%B %-d, %Y" }}</p>
            <p class="title">{{ post.title }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

</div>


<!-- to-top button+css+js -->
<div id="top" class="top-btn" onclick="moveTop()">
  <i class="fas fa-chevron-up"></i>
</div>
<script>
  var lastScrollTop = 0;
  window.onscroll = function () {
    var st = document.body.scrollTop || document.documentElement.scrollTop;
    if (st > 250) {
      document.getElementById("top").style.display = "block"
      if (st > lastScrollTop) {
        document.getElementById("top").style.opacity = 0
      } else {
        document.getElementById("top").style.opacity = 1
      }
    } else {
      document.getElementById("top").style.opacity = 0
      if (st > lastScrollTop) {
        document.getElementById("top").style.display = "none"
      }
    }
    lastScrollTop = st <= 0 ? 0 : st;
  }
  function moveTop() {
    document.body.scrollTop = 0
    document.documentElement.scrollTop = 0
  }
</script>